@font-face {
    font-family: 'Gideon Roman';
    src: url('./fonts/GideonRoman-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Redressed';
    src: url('./fonts/Redressed-Regular.ttf') format('truetype'); 
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--eggshell);
    font-family: 'Gideon Roman', Helvetica, cursive;
}

*:focus {
    outline: 4px dotted var(--brown);
}

:root {
    --green: hsl(103deg 13% 39%);
    --green-80-transp: hsl(103deg 13% 39% / 80%);
    --green-90-transp: hsl(103deg 13% 39% / 90%);
    --eggshell: hsl(23deg 87% 94%);
    --orange: hsl(23deg 68% 75%);
    --brown: hsl(23deg 27% 31%);
}

body {
    background-image: url(./images/background-img-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */
    background-color: var(--brown); /* background color that will be displayed while background image is loading */
    display: flex;
    justify-content: center;
    min-height: 100vh; 
    min-width: 100vw;
} 

#content {
    background-color: hsl(0deg 100% 100% / 60%);
    width: 1200px;
    max-width: 85%;
}

/* -------------------NAVBAR--------------------- */

.logo-container {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 80px;
}

h1 {
    color: var(--orange);
    font-family: 'Redressed', Helvetica, cursive;
    font-size: 4rem;
}

header {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.menu {
    display: flex;
    gap: 20px;
}

.nav-link {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    position: relative;
}

/* underline hover animation */
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--eggshell);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* ----------------------WELCOME-BOX-------------------- */

.welcome-box {
    background-color:var(--green-80-transp);
    border: 6px solid var(--green-90-transp);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    margin: 100px auto;
}

h2 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.welcome-box p {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.welcome-box button {
    background-color: var(--orange);
    border: none;
    border-radius: 3px;
    color: hsl(103deg 13% 28%);
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 15px 10px;
    transition: 300ms ease-in;
}

.welcome-box button:hover {
    background-color: var(--eggshell);
    color: var(--green);
}

/* footer {
    text-align: center;
    font-weight: 300;
}

.attribution {
    padding: 20px 0 10px 0;
    font-size: 0.875rem;
}


.credit,
.credit a {
    font-size: 0.625rem; 
    padding: 5px;
}

footer a {
    font-style: italic;
    font-weight: 400;
    color: #cddef8;
} */

@media (max-width: 991px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    body {
        background-image: url(./images/background-img-mobile.jpg);
    }
    header {
        padding: 15px 25px;
    }
    .logo-container {
        flex-direction: column;
    }
    .logo-container img {
        height: 50px;
    }
    h1 {
        font-size: 3rem;
    }
    .menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu ul li {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 2rem;
        margin-top: 10px;
    }
    .welcome-box {
        padding: 10px;
        margin: 40px auto;
        width: 90%;
    }
    .welcome-box p {
        font-size: 1.3rem;
    }
    .welcome-box button {
        font-size: 1.5rem;
        margin-bottom: 15px;
        padding: 5px;
    }
}